.container {
  background-color: var(--background-color);
}

.content {
  padding: 50px 0 100px;
}

.heading {
  color: var(--color-heading);
  margin-bottom: 0;
  font-size: 1.8rem;
  font-weight: 400;
}

.subtext {
  color: var(--color-tertiary);
  margin-bottom: 3rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
  }

  .gridLeft {
    padding-right: 4rem;
  }
}

.gridRight {
  position: relative;
}

.card {
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  align-items: center;
  background-color: #FFF;
  padding: 3rem 4rem;
  font-weight: bold;
  min-height: 100%;
  box-shadow: 0px 5px 30px 5px rgba(0,0,0,0.15);
}

.card > * {
  margin-bottom: 2rem;
}

.cardPrice {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.cardPriceSkeleton {
  gap: 0.5rem;
}

.cardPriceValue {
  color: var(--color-primary);
  font-size: 5rem;
  line-height: 4.4rem;
}

.cardPriceSmall {
  color: var(--color-primary);
  font-size: 2rem;
}

.cardText {
  color: var(--color-secondary);
}

.applyButton {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  background-color: var(--color-button);
  padding: 1rem 2rem;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}